{% extends "base.html" %}
{% block extrahead %}
<script src="https://unpkg.com/htmx.org@1.8.4"></script>
<script>
  htmx.config.useTemplateFragments = true;
</script>
{% endblock %}
{% block allcontent %}
<div id="content" class="container">
  <h2>Home: <a href="{% url 'index' %}">Project1233</a></h2>
  <div class="container">
    <div class="row">
    
      <div class="col col-lg-6">
        <h5>Add A Oficina</h5>
        <div hx-get="{% url 'app_Oficina_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Oficina List</h4>
        <div hx-get="{% url 'app_Oficina_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A PlanEstrategico</h5>
        <div hx-get="{% url 'app_PlanEstrategico_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>PlanEstrategico List</h4>
        <div hx-get="{% url 'app_PlanEstrategico_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A TipoPlan</h5>
        <div hx-get="{% url 'app_TipoPlan_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>TipoPlan List</h4>
        <div hx-get="{% url 'app_TipoPlan_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A PlanInversion</h5>
        <div hx-get="{% url 'app_PlanInversion_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>PlanInversion List</h4>
        <div hx-get="{% url 'app_PlanInversion_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A PlanProceso</h5>
        <div hx-get="{% url 'app_PlanProceso_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>PlanProceso List</h4>
        <div hx-get="{% url 'app_PlanProceso_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Plan</h5>
        <div hx-get="{% url 'app_Plan_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Plan List</h4>
        <div hx-get="{% url 'app_Plan_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A PlanDesarrollo</h5>
        <div hx-get="{% url 'app_PlanDesarrollo_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>PlanDesarrollo List</h4>
        <div hx-get="{% url 'app_PlanDesarrollo_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A TipoPlanEspecifico</h5>
        <div hx-get="{% url 'app_TipoPlanEspecifico_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>TipoPlanEspecifico List</h4>
        <div hx-get="{% url 'app_TipoPlanEspecifico_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Respuesta</h5>
        <div hx-get="{% url 'app_Respuesta_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Respuesta List</h4>
        <div hx-get="{% url 'app_Respuesta_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Pregunta</h5>
        <div hx-get="{% url 'app_Pregunta_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Pregunta List</h4>
        <div hx-get="{% url 'app_Pregunta_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Formulario</h5>
        <div hx-get="{% url 'app_Formulario_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Formulario List</h4>
        <div hx-get="{% url 'app_Formulario_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Seguimiento</h5>
        <div hx-get="{% url 'app_Seguimiento_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Seguimiento List</h4>
        <div hx-get="{% url 'app_Seguimiento_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}