
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Seguimientos_Formulario_Seguimiento_list' %}">
    Formulario_Seguimiento Listing
    </a>
</p>
    
<table class="table">
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>formulario_seguimiento</td><td>{{ object.formulario_seguimiento }}</td></tr>
    <tr><td>Formulario_Seguimiento</td><td>{{ object.Formulario_Seguimiento }}</td></tr>
    <tr><td>Formulario_Seguimiento_Plan</td><td>{{ object.Formulario_Seguimiento_Plan }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}