
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Formularios_Respuesta_list' %}">
    Respuesta Listing
    </a>
</p>
    
<table class="table">
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>respuesta</td><td>{{ object.respuesta }}</td></tr>
    <tr><td>last_update</td><td>{{ object.last_update }}</td></tr>
    <tr><td>pregunta</td><td>{{ object.pregunta }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}