
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'estructura_Campo_list' %}">
    Campo Listing
    </a>
</p>
    
<table class="table">
    <tr><td>nombre</td><td>{{ object.nombre }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>meta</td><td>{{ object.meta }}</td></tr>
    <tr><td>indicador</td><td>{{ object.indicador }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}