
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'estructura_evidencia_list' %}">
    evidencia Listing
    </a>
</p>
    
<table class="table">
    <tr><td>ultima_actualizacion</td><td>{{ object.ultima_actualizacion }}</td></tr>
    <tr><td>creado_por</td><td>{{ object.creado_por }}</td></tr>
    <tr><td>evidencia</td><td>{{ object.evidencia }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}