
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'Planes_TipoPlanEspecifico_list' %}">
    TipoPlanEspecifico Listing
    </a>
</p>
    
<table class="table">
    <tr><td>nombre</td><td>{{ object.nombre }}</td></tr>
    <tr><td>planes_proceso</td><td>{{ object.planes_proceso }}</td></tr>
    <tr><td>categoria</td><td>{{ object.filtro }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}